description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'site/meta' %}
    </head>
    <body>

        <div style="max-width: 1403px; margin: 0 auto">
            <!-- Header -->
            <header id="layout-header">
                {% partial 'site/header' %}
            </header>

            <!-- Sidebar -->
            <section id="layout-sidebar">
                {% partial 'site/sidebar' %}
            </section>

            <!-- Content -->
            <section id="layout-content">
                {% page %}
            </section>

            <!-- Footer -->
            <footer id="layout-footer">
                {% partial 'site/footer' %}
            </footer>
        </div>

        <!-- Scripts -->
        {% partial 'site/scripts' %}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135483596-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-135483596-1');
        </script>

    </body>
</html>
